* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f5f5f5;
}

.container {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #c62828;
  color: white;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
}

.sidebar li:hover,
.sidebar .active {
  background: #b71c1c;
  border-radius: 5px;
}

.sos {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background: white;
  color: red;
  border: none;
  font-weight: bold;
}

/* Main */
.main {
  flex: 1;
  padding: 20px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top-sos {
  background: red;
  color: white;
  padding: 10px 20px;
  border: none;
}

/* Map */
.map {
  height: 250px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* Cards */
.cards {
  display: flex;
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  flex: 1;
  border-radius: 10px;
}

.card button {
  margin-top: 10px;
  padding: 8px;
  background: green;
  color: white;
  border: none;
}

.alert {
  background: #ffcdd2;
}

.chat input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

/* Shelter */
.shelter {
  display: flex;
  gap: 15px;
}

.shelter-img {
  width: 120px;
  border-radius: 10px;
}

.tags span {
  background: #e0f2f1;
  padding: 5px 8px;
  margin: 3px;
  display: inline-block;
  border-radius: 5px;
  font-size: 12px;
}

.green-btn {
  background: green;
  color: white;
  padding: 8px;
  border: none;
}

/* Disaster */
.disaster {
  background: #fff;
}

.alert-box {
  background: #ffcdd2;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Chat */
.chat {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bot-msg {
  background: #f1f1f1;
  padding: 8px;
  border-radius: 5px;
}

.quick button {
  width: 100%;
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
}

.send-btn {
  background: red;
  color: white;
  padding: 8px;
  border: none;
}
